<launch>

	<node name="for_crosswalk" pkg="for_crosswalk" type="for_crosswalk" output="screen" />
		<param name="/video1" value="/home/lee_yeong_hyeon/catkin_ws/src/for_crosswalk/2020-07-09-131823.webm"/>
	<node name="for_crosswalk1" pkg="for_crosswalk" type="for_crosswalk1" output="screen" />
		<param name="/video2" value="/home/lee_yeong_hyeon/catkin_ws/src/for_crosswalk/2020-07-09-131904.webm"/>



</launch>

